<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Contact</title>
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="keywords" content="NoobStore Teamplate" />
    <meta
      name="description"
      content="NoobStore - Provides Assembly Services and Consulting"
    />
    <meta name="author" content="NoobTeam " />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="shortcut icon"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="70x30"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="110x70"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <meta property="og:title" content="NOOBSTORE" />
    <meta property="og:description" content="Welcome to NoobStore" />
    <meta
      property="og:image"
      content="https://noobstore.xyz/favicon/big_logo.png"
    />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="https://noobstore.xyz" />
    <meta property="og:url" content="https://noobstore.xyz" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="432" />
    <!-- CSS Tag -->
    <!-- Loading effect -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/api/css/effect/preload/preload-signal.css"
    />
    <!--=== favicons === -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
  </head>
  <style>
    body{
      height: 100vh;
      background-image: url("/favicon/bg-graffiti.png");
      background-color: #f6f6f6;
    }
  </style>
  <body>
    <% include ./../tips/effect/preload-signal %>
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <nav
          class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto"
        ></nav>
        <a
          class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0"
          href="/"
        >
          <img
            src="/favicon/logo-icon-w-year-hr.png"
            width="150"
            height="150"
          />
        </a>
        <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0"></div>
      </div>
    </header>
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-2 mx-auto flex sm:flex-nowrap flex-wrap">
        <div
          class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative"
        >
          <iframe
            width="100%"
            height="100%"
            class="absolute inset-0"
            frameborder="0"
            title="map"
            marginheight="0"
            marginwidth="0"
            scrolling="no"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.6842178377483!2d106.7147424292302!3d10.831437416729845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752887641a71fd%3A0x133bffaa811a6cd2!2zU8OibiBCw7NuZyBCw6xuaCBUcmnhu4d1!5e0!3m2!1sen!2sus!4v1643714046257!5m2!1sen!2sus"
            style="filter: grayscale(1) contrast(1.2) opacity(0.4)"
          ></iframe>
          <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
            <div class="lg:w-1/2 px-6">
              <h2
                class="title-font font-semibold text-gray-900 tracking-widest text-xs"
              >
                ADDRESS
              </h2>
              <p class="mt-1">
                alley 4, 10 street, Hiep Binh Chanh ward, Thu Duc district HCM,
                700000 VN
              </p>
            </div>
            <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
              <h2
                class="title-font font-semibold text-gray-900 tracking-widest text-xs"
              >
                EMAIL
              </h2>
              <a
                class="text-blue-400 hover:text-rose-400"
                href="mailto:noobassembly@gmail.com"
                >noobassembly@gmail.com</a
              >
              <h2
                class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4"
              >
                PHONE
              </h2>
              <p class="leading-relaxed">(+84) 83 922 09 00</p>
            </div>
          </div>
        </div>
        <div
          class="lg:w-1/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0"
        >
          <h2 class="text-gray-900 text-3xl mb-1 font-medium title-font">
            Contact Us
          </h2>
          <p class="leading-relaxed mb-5 text-gray-600">
            For any consulting or service, you can contact us
          </p>
          <div class="relative mb-4">
            <form id="form-contact" action="./contact/create" method="POST" enctype="multipart/form-data">
            <label for="name" class="leading-7 text-sm text-gray-600 font-bold"
              >Name<span class="text-red-400 text-xl align-bottom ml-1">*</span>:</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600 font-bold"
              >Email<span class="text-red-400 text-xl align-bottom ml-1">*</span>:</label
            >
            <input
              type="email"
              id="mail"
              name="mail"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600 font-bold"
              >Message:</label
            >
            <textarea
              id="message"
              name="message"
              class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
            ></textarea>
          </div>
          <button
            type="button"
            id="btn-submit-contact"
            class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          >
            Send
          </button>
        </form>
          <p class="text-xs text-gray-500 mt-3">
            We always appreciate your contact.
          </p>
        </div>
      </div>
    </section>

    <footer class="w-full text-gray-600 body-font absolute bottom-0">
      <div
        class="container px-5 py-4 mx-auto flex items-center sm:flex-row flex-col border-t border-gray-400"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center"
          href="/"
        >
          <img src="/favicon/logo-icon-w-year-hr.png" width="80" height="80" />
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © Copyright Noobteam 2017 — Design by
          <a
            href="https://facebook.com/noobassembly"
            class="text-gray-600 ml-1 text-blue-400 underline decoration-1 hover:text-rose-400"
            rel="noopener noreferrer"
            target="_blank"
            >Noobteam</a
          >
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
        <!-- Facebook -->
          <a href="https://www.facebook.com/noobassembly" class="text-gray-500 hover:text-blue-400">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <!-- IG -->
          <a href="https://www.instagram.com/noobassembly" class="ml-3 text-gray-500 hover:text-blue-400">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <!-- Discord -->
          <a href="https://discord.gg/NzS238jyZW" class="ml-3 text-grey-500 hover:text-blue-400"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-discord"
              viewBox="0 0 16 16"
            >
              <path
                d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"
              ></path></svg>
          </a>
          
        </span>
      </div>
    </footer>
  </body>
  <script src="/share/jquery/jquery-3.6.0.min.js"></script>
  <script src="/share/sweetalert/sweetalert2@9.js"></script>
  <script src="/share/tailwindcss/tailwindcss.js"></script>
  <script>
    $(document).ready(function(){
      var ssPreloader = function() {
        $("html").addClass('ss-preload');
        $(window).on('load', function() {
            $('html, body').animate({ scrollTop: 0 }, 'normal');
            $("#loader").fadeOut("slow", function() {
                $("#preloader").delay(300).fadeOut("slow");
            }); 
            $("html").removeClass('ss-preload');
            $("html").addClass('ss-loaded');
        
        });
      };
      // preload effect
      $('html,body').animate({ scrollTop: 0 }, 'normal');
      $('.loading-text')
        .delay(1000)
        .fadeOut('slow', () => {
          $('.loading').delay(500).fadeOut('slow');
      });
    
      $('#mail').on('keypress', function (e) {
        if (e.which == 32) {
          return false;
        }
      });
      $("#formcontact").on('submit', function(){
        e.preventDefault();
      })
      $("#btn-submit-contact").on('click', function(){
        const email = $("#mail").val();
        const name = $("#name").val();
        const message = $("#message").val();
        if(email == '' || name == ''){
          Swal.fire({
            position: 'bottom-start',
            icon: 'error',
            title: 'Oops...',
            text: 'Please fill your email and name',
            backdrop: 'transparent',
            background: '#d4d2cd',
            showCancelButton: false,
            showConfirmButton: false,
            timer: 3000,
            width: 400,
            allowOutsideClick: true,
          });
        }else{
          $.ajax({
            type: 'POST',
            url: './contact/create',
            data: { name: name, mail: email, message: message },
            success: function (res, data) {
              Swal.fire({
                position: 'bottom-start',
                icon: 'success',
                title: 'Thanks for your contact. We will contact ASAP!',
                backdrop: `transparent`,
                background: '#d4d2cd',
                showConfirmButton: false,
                allowOutsideClick: false,
                timer: 3000,
              });
              $("#mail").val('');
              $("#name").val('');
              $("#message").val('');
            },
            error: function () {
              Swal.fire({
                position: 'bottom-start',
                title: 'Oops...',
                text: 'Server Error!!!',
                backdrop: `transparent`,
                background: '#d4d2cd',
                showConfirmButton: false,
                showCancelButton: false,
                timer: 3000,
                allowOutsideClick: true,
              });
            },
          });
        }
      })
     
    ssPreloader();
    })
  </script>
</html>
