<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="keywords" content="NoobStore Teamplate" />
    <meta name="description" content="NoobStore" />
    <meta name="author" content="NoobTeam" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="shortcut icon"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="70x30"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="110x70"
      href="https://noobstore.xyz/favicon/white_logo.png"
    />

    <meta property="og:title" content="NOOBSTORE" />
    <meta property="og:description" content="Welcome to NoobStore" />
    <meta
      property="og:image"
      content="https://noobstore.xyz/favicon/big_logo.png"
    />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="https://noobstore.xyz" />
    <meta property="og:url" content="https://noobstore.xyz" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="432" />
    <!--=== css ===-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/api/css/pcss/main.css" />
    <link rel="stylesheet" href="/api/css/effect/navbar.css" />
    <link rel="stylesheet" href="/api/css/effect/typing-text.css" />
    <link rel="stylesheet" href="/api/css/pcss/customize.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/api/css/effect/rgb-wrapper/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/api/css/pcss/registerPage/style.css"
    />
    <link rel="stylesheet" type="text/css" href="/api/css/breadcrumb.css" />
    <link rel="stylesheet" type="text/css" href="/api/css/custom-fixed.css" />
    <link rel="stylesheet" type="text/css" href="/api/css/effect/preload.css" />
    <link rel="stylesheet" href="/package/waitMe/waitMe.min.css" />
    <!--=== font ===-->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/api/css/pcss/line-awesome-1.3.0/css/line-awesome.min.css"
    />
    <!--=== script ===-->
    <script src="/api/js/pjs/modernizr.js"></script>

    <!--=== favicons ===-->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
  </head>

  <body id="top">
    <!--=== preloader ===-->
    <% include ./../tips/subs/preload %>
    <!--=== Navbar ===-->
    <% include ./../tips/subs/navbar %>
    <!--=== </header> ===-->
    <% include ./../tips/subs/breadcrumb %>
    <div class="main-container">
      <div class="row justify-content-center">
        <div class="d-flex col-md-12" style="min-height: 600px">
          <div class="col-md-7">
            <div class="login-banner"></div>
          </div>
          <div class="col-md-5">
            <div class="d-flex w-100 tabs-customize">
              <span id="tab-sign-in" class="w-100 text-center active-tab mx-4"
                ><a href="#" class="text-decoration-none"
                  >Existing user</a
                ></span
              >
              <span
                class="w-1"
                style="border: 1px solid var(--title-color)"
              ></span>
              <span id="tab-reg" class="w-100 text-center mx-4"
                ><a href="#" class="text-decoration-none">New user</a></span
              >
            </div>
            <!-- login form -->
            <div class="login-form">
              <div class="d-flex justify-content-center title my-3">
                <h2 class="effect-typing-text-sign-in">Sign in</h2>
              </div>
              <div class="authentication-button">
                <a class="facebook-button btn-outline" href="#">
                  <div class="btn-facebook-cover text-center">
                    <span class="name">Login with Facebook</span>
                  </div>
                </a>
                <br />
                <a class="google-button" href="#">
                  <div class="btn-google-cover text-center">
                    <span class="name">Login with Google</span>
                  </div>
                </a>
              </div>
              <div class="separator">Or</div>
              <form
                id="form-login"
                class="form-not-mg"
                autocomplete="on"
                method="post"
              >
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="emailHelp"
                      ><i class="las la-envelope la-2x"></i
                    ></span>
                    <input
                      autocomplete="on"
                      type="email"
                      name="email"
                      class="form-control"
                      id="email"
                      value=""
                      aria-describedby="emailHelp"
                      placeholder="Email"
                      aria-label="Email"
                      required
                    />
                  </div>
                  <small id="emailHelp" class="form-text text-muted"
                    >We'll never share your email with anyone else.</small
                  >
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="pwHelp"
                      ><i class="las la-lock la-2x"></i
                    ></span>
                    <input
                      autocomplete="on"
                      type="password"
                      name="password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      aria-describedby="pwHelp"
                      aria-label="Password"
                      required
                    />
                    <span
                      id="sign_eye-pw__show"
                      class="input-group-text"
                      style="cursor: pointer"
                      data-visible="visible"
                      ><i class="las la-eye-slash la-2x"></i
                    ></span>
                    <span
                      id="sign_eye-pw__hide"
                      class="input-group-text hide-pw"
                      style="cursor: pointer"
                      data-visible="hidden"
                      ><i class="las la-eye la-2x"></i
                    ></span>
                  </div>
                  <div class="float-right forgot-pw position-relative">
                    <a href="#">Forgot password?</a>
                  </div>
                </div>
                <div class="btn-area">
                  <button type="submit" id="btn-sign-in" class="btn-login">
                    Login
                  </button>
                </div>
              </form>
            </div>
            <!-- reg-form -->
            <div class="reg-form d-none">
              <div class="d-flex justify-content-center my-3 title">
                <h2 class="effect-typing-text-reg">Register</h2>
              </div>
              <form class="form-not-mg" id="form-register" method="POST">
                <div class="form-group d-flex">
                  <div class="mr-2 w-100">
                    <label for="fname">First name</label>
                    <input
                      type="text"
                      name="fname"
                      class="form-control"
                      id="fnam"
                      aria-describedbsy="fnamelHelp"
                      placeholder="First name"
                    />
                  </div>
                  <div class="ml-2 w-100">
                    <label for="lname">Last name</label>
                    <input
                      type="text"
                      name="lname"
                      class="form-control"
                      id="lname"
                      aria-describedbsy="lnameHelp"
                      placeholder="Last name"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="reg_email">Email</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="reg_email"
                        placeholder="Email"
                      />
                      <small id="Help" class="form-text text-muted">
                        Ideally, you should register your email with paypal
                        email
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="reg_password">Password</label>
                      <div class="input-group">
                        <input
                          type="password"
                          name="password"
                          class="form-control"
                          id="reg_password"
                          placeholder="Password"
                        />
                        <span
                          id="eye-pw_show"
                          class="input-group-text"
                          style="cursor: pointer"
                          data-visible="visible"
                          ><i class="las la-eye-slash la-2x"></i
                        ></span>
                        <span
                          id="eye-pw_hide"
                          class="input-group-text hide-pw"
                          style="cursor: pointer"
                          data-visible="hidden"
                          ><i class="las la-eye la-2x"></i
                        ></span>
                      </div>
                      <small
                        id="passwordHelp"
                        class="form-text text-muted mt-2"
                      >
                        Add 9 charachters or more, lowercase letters, uppercase
                        letters, numbers and symbols to make the password really
                        strong!
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="re_password">Confirm Password</label>
                      <div class="input-group">
                        <input
                          type="password"
                          name="re_password"
                          class="form-control"
                          id="re_password"
                          placeholder="Re-Password"
                          type="password"
                        />
                        <span
                          style="cursor: pointer"
                          id="eye-pw-confirm_show"
                          class="input-group-text"
                          data-visible="visible"
                          ><i class="las la-eye-slash la-2x"></i
                        ></span>
                        <span
                          style="cursor: pointer"
                          id="eye-pw-confirm_hide"
                          data-visible="hidden"
                          class="input-group-text hide-pw"
                          ><i class="las la-eye la-2x"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div
                    class="g-recaptcha"
                    data-sitekey="6Lexz1YUAAAAAJZknL3EkeY_xBlIKGKGfGwFHhjK"
                  ></div>
                </div>
                <div class="btn-area">
                  <button type="button" id="btn-reg" class="btn-register">
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="col-full ss-copyright">
        <span>© Copyright NoobStore 2017</span>
        <span
          >Design by
          <a href="https://www.facebook.com/noobassembly">Noob Team</a></span
        >
      </div>
    </footer>
  </body>
  <script src="/share/jquery/jquery-3.6.0.min.js"></script>
  <script src="/share/bootstrap/js/bootstrap.min.js"></script>
  <script src="/share/slickjs/slick.min.js"></script>
  <script src="/share/aos/aos.js"></script>
  <script src="/api/js/pjs/main.js"></script>
  <script src="/share/google-capcha/api.js"></script>
  <script src="/share/sweetalert/sweetalert2@9.js"></script>
  <script src="/api/js/pjs/product/registerPage/js.js"></script>
  <script type="text/javascript" src="/package/waitMe/waitMe.min.js"></script>
</html>
