<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page | Product ADD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/api/css/datepicker/dist/datepicker.min.css">
    <% include ./../../tips/cssPackage%>
</head>
<style type="text/css">
.for-keeb-top,
.for-keyset,
.for-keeb-bottom,
.for-keeb-plate,
.for-keeb-frame {
    display: none;

}

.select2-container {
    width: 100% !important
}

.selection>.select2-selection--single {
    height: calc(1.5em + .75rem + 2px);
}

.selection>.select2-selection--multiple {
    height: calc(2.25em + .75rem + 2px);
}

.selection>.select2-selection {
    height: auto;
}

.selection>.select2-selection>.select2-selection__rendered {
    line-height: 36px
}
</style>

<body>
    <% include ./../../header%>
    <h1 style="text-align: center;">
        <%= title %>
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
            </div>
            <!-- <div class="row row-offcanvas row-offcanvas-right"> -->
            <div class="col-md-6">
                <form action='/api/product/add' method="post" enctype="multipart/form-data">
                    <!--  <div class="form-group">
                        <label for="product_id">ID:</label>
                        <input disabled type="text" name="pid" class="form-control" id="pid" aria-describedby="catidHelp">
                    </div> -->
                    <div class="form-group">
                        <label for="email">Category ID:</label>
                        <select class="form-control input-sm" style="margin-top:0px;" id="catid" name="catid">
                            <% for (var key in listCategoryID){%>
                            <option value="<%= listCategoryID[key].category_id %>">
                                <%= listCategoryID[key].category_id %> -
                                <%= listCategoryID[key].category_name %>
                            </option>
                            <%    } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="product_name">Name:</label>
                        <input required type="text" name="pname" class="form-control" id="pname" aria-describedby="pnameHelp">
                    </div>
                     <div class="form-group">
                        <label for="email">Surrogate Name:</label>
                        <input type="text" name="replace_product_name" class="form-control" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Outstock:</label>
                        <select class="form-control" id="product-outstock" name="outstock">
                            <option value="0">Outstock</option>
                            <option value="1">Instock</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Keeb part:</label>
                        <select class="form-control keeb-part" id="product-part" name="p_part">
                            <option value="0">Keeb Top Case</option>
                            <option value="1">Keeb Bot case </option>
                            <option value="2">Keeb Plate </option>
                            <option value="3" disabled>Keeb Frame</option>
                            <option value="4">Keycap</option>
                        </select>
                    </div>
                    <!-------------------------- for keeb top case ------------------------->
                    <div class="for-keeb-top">
                        <div class="form-group">
                            <label for="email">Top Case Color:</label>
                            <select class="form-control k-top-color" id="k-top-color" name="top_color">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Top Case Material:</label>
                            <select class="form-control k_top_material" id="k-top-material" name="top_material">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="top_case_price" type="tel" value="" id="maxprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div className="input-group mb-3">
                            <label>Image:</label>
                            <div className="custom-file">
                                <input type="file" name="picture" className="custom-file-input" id="topCaseInputImg" aria-describedby="inputGroupFileAddon01" />
                                <label className="custom-file-label" htmlFor="inputGroupFile01">
                                <img src="" id="topCase-img-tag" width="200px" />
                            </div>
                        </div>
                    </div>
                    <!-------------------------- for keeb bottom case ------------------------->
                    <div class="for-keeb-bottom">
                        <div class="form-group">
                            <label for="email">Bottom Case Color:</label>
                            <select class="form-control k-bot-color" id="k-bot-color" name="bot_color">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Bottom Case Material:</label>
                            <select class="form-control k-bot-material" id="k-bot-material" name="bot_material">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="bot_price" type="tel" value="" id="maxprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div className="input-group mb-3">
                            <label>Image Profile:</label>
                            <div className="custom-file">
                                <input type="file" name="picture" className="custom-file-input" id="botCaseInputImg" aria-describedby="inputGroupFileAddon01" />
                                <label className="custom-file-label" htmlFor="inputGroupFile01">
                                </label>
                                <img src="" id="botCase-img-tag" width="200px" />
                            </div>
                        </div>
                    </div>
                    <!-------------------------- for keeb plate ------------------------->
                    <div class="for-keeb-plate">
                        <div class="form-group">
                            <label for="email">Plate Material:</label>
                            <select class="form-control k-plate-material" id="k-plate-material" name="plate_material">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Plate Option:</label>
                            <select class="form-control k-plate-option" id="k-plate-option" name="plate_option">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="plate_price" type="tel" value="" id="maxprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div className="input-group mb-3">
                            <label>Image Profile:</label>
                            <div className="custom-file">
                                <input type="file" name="picture" className="custom-file-input" id="plateInputImg" aria-describedby="inputGroupFileAddon01" />
                                <label className="custom-file-label" htmlFor="inputGroupFile01">
                                </label>
                                <img src="" id="plate-img-tag" width="200px" />
                            </div>
                        </div>
                    </div>
                    <!-------------------------- for keeb FRAME ------------------------->
                    <div class="for-keeb-frame">
                        <div class="form-group">
                            <label for="email">Plate Material:</label>
                            <select class="form-control k-plate-material" id="k-plate-material" name="plate_material">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Plate Option:</label>
                            <select class="form-control k-plate-option" id="k-plate-option" name="plate_option">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="plate_price" type="tel" value="" id="maxprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div className="input-group mb-3">
                            <label>Image Profile:</label>
                            <div className="custom-file">
                                <input type="file" name="picture" className="custom-file-input" id="frameInputImg" aria-describedby="inputGroupFileAddon01" />
                                <label className="custom-file-label" htmlFor="inputGroupFile01">
                                </label>
                                <img src="" id="frame-img-tag" width="200px" />
                            </div>
                        </div>
                    </div>
                    <!---------------------------- for keycap ---------------------------->
                    <div class="for-keyset">
                        <div class="form-group">
                            <label for="email">Keyset Profile:</label>
                            <select class="form-control" id="c-profile" name="c_profile">
                                <option value="tbd">TBD</option>
                                <option value="sa">SA profile</option>
                                <option value="cherry">Cherry profile</option>
                                <option value="oem">OEM profile</option>
                                <option value="kat">KAT profile</option>
                                <option value="etc">etc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keyset Color:</label>
                            <select class="form-control multiple-select select2" style="margin-top:0px;" id="c-code-color" name="code_color[]" multiple="multiple">
                                <option class="c-n7" value="red">N7</option>
                                <option class="c-l9" value="green">L9</option>
                                <option class="c-v1" value="blue">V1</option>
                               
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keyset Material:</label>
                            <select class="form-control multiple-select" style="margin-top:0px;" id="c-material" name="c_material" >
                                <option  value="0">ABS</option>
                                <option  value="1">PBT</option>
                                <option  value="2">POM</option>
                                <option  value="3">ETC</option>
                          
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Price:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="c_price" type="tel" value="" id="c-price">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div className="input-group mb-3">
                            <label>Image Profile:</label>
                            <div className="custom-file">
                                <input type="file" name="picture" className="custom-file-input" id="keysetInputImg" aria-describedby="inputGroupFileAddon01" />
                                <label className="custom-file-label" htmlFor="inputGroupFile01">
                                </label>
                                <img src="" id="keyset-img-tag" width="200px" />
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- <a href="#" target="popup" onclick="window.open('/api/mounting','name','width=1170,height=680')">Open page in new window</a> -->
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                    <button type="submit" id="btn-submit" class="btn btn-secondary btn-cancel">Cancel</button>
                </form>
            </div>
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
    <div class="footer" style="text-align: center;">
        <% include ./../../footer%>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/api/js/datepicker/dist/datepicker.js"></script>
<% include ./../../tips/jsPackage %>
<script type="text/javascript">
$(document).ready(function() {
    $('.select2').select2();

    $('#catid').on('change', function() {
        console.log(this.value);
        var str = this.value;
        var res = str.substring(0, 4)
        if (res == "KEEB") {

        } else if (res == "KSET") {

        } else {

        }

    })

    function readURL(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#keyset-img-tag, #topCase-img-tag, #botCase-img-tag, #plate-img-tag, #frame-img-tag').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#topCaseInputImg, #botCaseInputImg, #plateInputImg, #frameInputImg, #keysetInputImg').change(function(){
        readURL(this);
    });

    $('#product-part').on('change', function() {
        console.log(this.value);
        if (this.value == 0) {
            $('.for-keyset').hide()
            $('.for-keeb-bottom').hide()
            $('.for-keeb-plate').hide()
             $('.for-keeb-frame').hide()
            $('.for-keeb-top').show();
        } else if (this.value == 1) {
            $('.for-keyset').hide()
            $('.for-keeb-bottom').show()
            $('.for-keeb-plate').hide()
             $('.for-keeb-frame').hide()
            $('.for-keeb-top').hide();
        } else if (this.value == 2) {
            $('.for-keyset').hide()
            $('.for-keeb-bottom').hide()
             $('.for-keeb-frame').hide()
            $('.for-keeb-plate').show()
            $('.for-keeb-top').hide();
        } else if (this.value == 3) {
            $('.for-keyset').hide()
            $('.for-keeb-bottom').hide()
            $('.for-keeb-plate').hide()
            $('.for-keeb-top').hide();
             $('.for-keeb-frame').hide()
        } else {
            $('.for-keyset').show()
             $('.for-keeb-frame').hide()
            $('.for-keeb-bottom').hide()
            $('.for-keeb-plate').hide()
            $('.for-keeb-top').hide();
        }
    });

    $('.btn-cancel').on('click', function(e) {
        e.preventDefault();
        window.location.href = '/api/product';

    })

    $('#minprice , #maxprice').on('input', function() {
        this.value = this.value
            .replace(/[^\d]/g, ''); // numbers and decimals only

    });
    $('#datepicker').datepicker();
    $('#datepicker1').datepicker();
    $('#datepicker2').datepicker();

    // $("#add").click(function() { //when user clicks add
    //     let elem;

    //     elem = $("#boxes .position_value").clone(); //create a clone of the element
    //     $("#container").append(elem); //add the new element to the bottom
    //     elem.show(); //show it 

    // });
    $(".position_value").hide();


    $('#add').on('click', function(e) {
        e.preventDefault();
        let elem;

        elem = $("#boxes .position_value").clone(); //create a clone of the element
        $("#container").append(elem); //add the new element to the bottom
        elem.show(); //show it 
    })
    $(".position_value").hide();

    $("#color").val('');
    $("#product-part").val('');
    $("#product-outstock").val('');
    $("#catid").val('')
    $("#k-plate-option").val('')
    $("#k-plate-material").val('')
    $("#k-top-color").val('')
    $("#k-bot-color").val('')
    $("#k-top-material").val('')
    $("#k-bot-material").val('')
    $("#c-profile").val('');
    $('#c-material').val('');


    // $('.btn-submit').on('click', function(e) {
    //     e.preventDefault();
    //     const id = $(this).attr('data-id');
    //     console.log(id);
    //     $.ajax({
    //         type: 'POST',
    //         url: '/saveImage/',
    //         success: function(res) {
    //             alert('updating');
    //             window.location.href = '/list';
    //         },
    //         error: function(err) {
    //             console.log(err);
    //         },
    //         dataType: "json"
    //     })
    // })
});
</script>

</html>