<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
html, body
{
    height: 100%;
}
.container-fluid{
    height: 94%;
    padding:12% 15px;
}
.footer{
    height: 6%;
}
</style>

<body>
    <!-- <% include header%> -->
    
    <div class="container-fluid">
        <h1 style="text-align: center;">Hi! Server is up</h1>
        <div class="row">
            <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
                <!-- <% include sidebar%> -->
            </div>
            <!-- <div class="row row-offcanvas row-offcanvas-right"> -->
            <div class="col-md-6">
                <div class="row row-container">
                </div>
                <% include loginPage %>
            </div>
           
            
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
    <div class="footer" style="text-align: center;">
        <% include footer%>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script type="text/javascript">
    $("form" ).on( "submit", function( event ) {
        event.preventDefault();
        console.log( $( this ).serialize() );
    });
    $('.btn-login').on('click', function(e){
         e.preventDefault();
         var email = $("#email").val();
         var password = $('#password').val();
         $.ajax({
            type: 'POST',
            url: '/api/login' ,
            data: {email:email, password: password},
            success: function(res, data){
                Swal.fire({
                    icon: 'success',
                    title: 'Login Success',
                    showConfirmButton: false,
                    timer: 1500
                })
                setTimeout(function(){
                    window.location.href = '/api';
                },1500)
                
            },                                               
            error: function(err, data){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href="#">Why do I have this issue?</a>'
                })
                $('#email').val('');
                $('#password').val('');
            },
        })
        
    })
    
</script>
</html>