    <option value="solder">Solder</option>
    <option value="desolder">Desolder</option>
    <option value="solder&desolder">Solder & Desolder</option>
    <option value="handle_stab">Handle Stabilizer</option>
    <option value="other">Other Requirement</option>
    <!--
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->