     <option></option>
    <option value="1.8">1.8</option>
    <option value="2x3x4">2x3x4 (square led)</option>
    <option value="other">Other Requirement</option>
    <!--
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->