    <option value="60"> < 60% (40%, 50%, ...)</option>
    <option value="65">60% > < TKL (66, 68, 75, 84)</option>
    <option value="87">TKL > < Fullsize (87, 96)</option>
    <option value="108">Fullsize (108)</option>
    <option value="1800">1800</option>
    <option value="other">Other Tactile Switch</option>
    <!--
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->