 <option></option>
    <option value="tx_cherry_45">45g TX Spring</option>
    <option value="tx_cherry_50">50g TX Spring</option>
    <option value="tx_cherry_55">55g TX Spring</option>
    <option value="tx_cherry_57">57g TX Spring</option>
    <option value="tx_cherry_60">60g TX Spring</option>
    <option value="tx_cherry_62">62g TX Spring</option>
    <option value="tx_cherry_65">65g TX Spring</option>
    <option value="tx_cherry_67">67g TX Spring</option>
    <option value="tx_cherry_70">70g TX Spring</option>
    <option value="tx_cherry_75">75g TX Spring</option>
    <option value="tx_cherry_80">80g TX Spring</option>
    <option value="tx_cherry_85">85g TX Spring</option>
    <option value="tx_cherry_90">90g TX Spring</option>
    <!--
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->