 <option></option>
    <option value="krytox_104">GPL Krytox 104</option>
    <option value="krytox_105">GPL Krytox 105</option>
    <option value="krytox_107">GPL Krytox 107</option>
    <option value="krytox_205g0">GPL Krytox 205g0</option>
    <option value="mix_205g2_105">Mixed 205g2 : 105 (TX Keyboard)</option>
    <option value="mix_205g0_105">Mixed 205g0 : 105</option>
    <option value="3203">Tribosys 3203 (aka 203g0)</option>
    <option value="3204">Tribosys 3204 (aka 204g0)</option>
    <option value="ghv4">Ghv4 (206:1506 at a 10:3 ratio)</option>
    <!--
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->