 <option></option>
    <option value="cherry_linear">Cherry Linear Switch</option>
    <option value="cherry_tactile">Cherry Tactile Switch</option>
    <option value="kailh_linear">Kailh Linear Switch</option>
    <option value="kailh_tactile">Kailh Tactile Switch</option>
    <option value="jwk_linear">JWK Linear Switch</option>
    <option value="jwk_tactile">JWK Tactile Switch</option>
    <option value="gat_linear">Gateron Linear Switch</option>
    <option value="gat_tactile">Gateron Tactile Switch</option>
    <option value="other_linear">Other Linear Switch</option>
    <option value="other_tactile">Other Tactile Switch</option>
    <!--
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->