    <option></option>
    <option value="box_linear">Box Linear Switch</option>
    <option value="box_tactile">BOX Tactile Switch</option>
<!--
    <option value="box_red">Box Red</option>
    <option value="box_black">BOX Black</option>
    <option value="box_dark_yellow">BOX Dark Yellow</option>
    <option value="box_brown">BOX Brown</option>
    <option value="box_burnt_orange">BOX Burnt Orange</option>
    <option value="box_royal">BOX Royal</option>
    <option value="box_white">BOX White</option>
    <option value="box_pale_blue">BOX Pale Blue</option>
    <option value="box_jade">BOX Jade</option>
    <option value="box_navy">BOX Navy</option>
    <option value="box_crytal">BOX Crystal</option>
    <option value="box_true">Box True Input Club's</option>
    <option value="box_clear">Box Clear Input Club's</option>
    <option value="box_viloet">Box Violet Input Club's</option> -->