    <option></option>
    <option value="tx_box_45">45g TX Spring</option>
    <option value="tx_box_50">50g TX Spring</option>
    <option value="tx_box_55">55g TX Spring</option>
    <option value="tx_box_57">57g TX Spring</option>
    <option value="tx_box_60">60g TX Spring</option>
    <option value="tx_box_62">62g TX Spring</option>
    <option value="tx_box_65">65g TX Spring</option>
    <option value="tx_box_67">67g TX Spring</option>
    <option value="tx_box_70">70g TX Spring</option>
    <option value="tx_box_75">75g TX Spring</option>
    <option value="tx_box_80">80g TX Spring</option>
    <option value="tx_box_85">85g TX Spring</option>
    <option value="tx_box_90">90g TX Spring</option>