    <option value="led_red">Red</option>
    <option value="led_green">Green(</option>
    <option value="led_blue">Blue</option>
     <option value="led_orange">Orange</option>
      <option value="led_cyan">Cyan</option>
       <option value="led_white">White</option>
        <option value="led_purple">Purple</option>
         <option value="led_other">Other Requirement</option>
        
    <!--
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="cherry_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->