 <option></option>
    <option value="black_015">Black - 0.15mm</option>
    <option value="clear_015">Clear - 0.15mm</option>
    <option value="white_015">White - 0.15mm</option>
    <option value="red_015">Red - 0.15mm</option>
    <option value="pink_015">Pink - 0.15mm</option>
    <option value="aqua_015">Aqua - 0.15mm</option>
    <option value="orange_015">Orange - 0.15mm</option>
    <option value="purple_015">Purple - 0.15mm</option>
    <option value="yellow_015">Yellow - 0.15mm</option>
    <option value="blue_015">Blue - 0.15mm</option>
    <option value="green_015">Green - 0.15mm</option>

    <option value="black_0125">Black - 0.125mm</option>
    <option value="clear_0125">Clear - 0.125mm</option>
    <option value="white_0125">White - 0.125mm</option>
    <option value="red_0125">Red - 0.125mm</option>
    <option value="pink_0125">Pink - 0.125mm</option>
    <option value="aqua_0125">Aqua - 0.125mm</option>
    <option value="orange_0125">Orange - 0.125mm</option>
    <option value="purple_0125">Purple - 0.125mm</option>
    <option value="yellow_0125">Yellow - 0.125mm</option>
    <option value="blue_0125">Blue - 0.125mm</option>
    <option value="green_0125">Green - 0.125mm</option>
    <!--
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option>
    <option value="kailh_"></option> -->