<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page | Category ADD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/api/css/datepicker/dist/datepicker.min.css">
</head>

<body>
    <% include ./../../header%>
    <h1 style="text-align: center;">
        <%= title %>
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
            </div>
            <!-- <div class="row row-offcanvas row-offcanvas-right"> -->
            <div class="col-md-6">
                <!-- <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p> -->
                <form action='/api/category/add' method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">GB status:</label>
                        <select class="form-control" name="status">
                            <option value="1">IC</option>
                            <option value="2">Live</option>
                            <option value="0">End</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">ID:</label>
                        <input type="text" name="catid" class="form-control" id="catid" aria-describedby="catidHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" name="catname" class="form-control" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Type:</label>
                        <select class="form-control" name="type">
                            <option value="0">Kit Keyboard</option>
                            <option value="1">Keyset</option>
                            <option value="2">Etc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Profile:</label>
                        <select class="form-control" name="profile">
                            <option value="None">None</option>
                            <option value="SA">SA</option>
                            <option value="GMK">GMK</option>
                            <option value="JTK">JTK</option>
                            <option value="KAT">KAT</option>
                            <option value="etc">etc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Layout:</label>
                        <select class="form-control" name="layout">
                            <option value="None">None</option>
                            <option value="40%">40%</option>
                            <option value="50%">50%</option>
                            <option value="60%">60%</option>
                            <option value="65%">65%</option>
                            <option value="75%">75%</option>
                            <option value="TKL">TKL</option>
                            <option value="Fullsize">Fullsize</option>
                            <option value="980">980</option>
                            <option value="1800">1800</option>
                            <option value="etc">Etc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Color:</label>
                        <button id="add">ADD</button>
                        <div id="container">
                        </div>
                        <div id="boxes">
                            <!-- POSITION -->
                            <div class="position_value">
                                <select class="form-control input-sm" style="margin-top:0px;" id="color" name="color">
                                    <option value="red">Red</option>
                                    <option value="green">Green</option>
                                    <option value="blue">Blue</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <label for="email">Date start (mm/dd/yyyy):</label>
                            <input style="width: 100%" id="datepicker" class="span2" type="text" name="date_start">
                        </div>
                        <div class="form-group">
                            <label for="email">Date end (mm/dd/yyyy):</label>
                            <input style="width: 100%" id="datepicker1" class="span2" type="text" name="date_end">
                        </div>
                        <div class="form-group">
                            <label for="email">Date payment (mm/dd/yyyy):</label>
                            <input style="width: 100%" id="datepicker2" class="span2" type="text" name="date_payment">
                        </div>
                        <div class="form-group">
                            <label for="email">Min price:</label>
                            <input class="form-control" name="min_price" type="tel" id="minprice">
                        </div>
                        <div class="form-group">
                            <label for="password">Max price:</label>
                            <input class="form-control" name="max_price" type="tel" id="maxprice">
                        </div>
                        <div className="input-group mb-3">
                            <div className="custom-file">
                                <input type="file" name="picture" className="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                                <label className="custom-file-label" htmlFor="inputGroupFile01">
                                </label>
                            </div>
                        </div>
                        <br>
                        <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                </form>
            </div>
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
    <div class="footer" style="text-align: center;">
        <% include ./../../footer%>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/api/js/datepicker/dist/datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#minprice , #maxprice').on('input', function() {
        this.value = this.value
            .replace(/[^\d]/g, ''); // numbers and decimals only

    });
    $('#datepicker').datepicker();
    $('#datepicker1').datepicker();
    $('#datepicker2').datepicker();

    // $("#add").click(function() { //when user clicks add
    //     let elem;

    //     elem = $("#boxes .position_value").clone(); //create a clone of the element
    //     $("#container").append(elem); //add the new element to the bottom
    //     elem.show(); //show it 

    // });
    $(".position_value").hide();


    $('#add').on('click', function(e){
        e.preventDefault();
        let elem;

        elem = $("#boxes .position_value").clone(); //create a clone of the element
        $("#container").append(elem); //add the new element to the bottom
        elem.show(); //show it 
    })
    $(".position_value").hide();

    $("#color").val('');
    // $('.btn-submit').on('click', function(e) {
    //     e.preventDefault();
    //     const id = $(this).attr('data-id');
    //     console.log(id);
    //     $.ajax({
    //         type: 'POST',
    //         url: '/saveImage/',
    //         success: function(res) {
    //             alert('updating');
    //             window.location.href = '/list';
    //         },
    //         error: function(err) {
    //             console.log(err);
    //         },
    //         dataType: "json"
    //     })
    // })
});
</script>

</html>