<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page | Category Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="api/css/custom-fixed.css">
</head>

<body>
    <% include ./../../header%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
            </div>
            <!-- <div class="row row-offcanvas row-offcanvas-right"> -->
            <div class="col-md-6">
                <!-- <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p> -->
                <h1 class="text-center">
                    <%= title %>
                </h1>
                <% if(type == 0) { %>
                        <form action='/api/category/add' method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">GB status:</label>
                        <select class="form-control" name="status">
                            <option value="1">IC</option>
                            <option value="2">Live</option>
                            <option value="0">End</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="email">ID:</label>
                        <input disabled type="text" name="catid" class="form-control" id="catid" aria-describedby="catidHelp">
                    </div> -->
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" name="catname" class="form-control" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Category Type:</label>
                        <select class="form-control category-type" name="type">
                            <option value="0">Kit Keyboard</option>
                            <option value="1">Keyset</option>
                            <option value="2">Etc</option>
                        </select>
                    </div>
                    <!-------------------------- for keeb ---------------------------->
                    <div class="for-keeb">
                        <div class="form-group">
                            <label for="email">Keeb Layout:</label>
                            <button id="add-for-keeb-layout">ADD</button>
                            <div id="keeb-layout-container">
                            </div>
                            <div id="keeb-layout-boxes">
                                <!-- POSITION -->
                                <div class="position_value">
                                    <select class="form-control input-sm" style="margin-top:0px;" id="layout" name="k_layout">
                                        <option value="tbd">TBD</option>
                                        <option value="40%">40%</option>
                                        <option value="50%">50%</option>
                                        <option value="60%">60%</option>
                                        <option value="65%">65%</option>
                                        <option value="75%">75%</option>
                                        <option value="TKL">TKL</option>
                                        <option value="Fullsize">Fullsize</option>
                                        <option value="980">980</option>
                                        <option value="1800">1800</option>
                                        <option value="etc">ETC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Flip top&bot:</label>
                            <select class="form-control keeb-flip" name="flip">
                                <option value="true"><span style="color: green">Yes! Flip it</span></option>
                                <option value="false"><span style="color: red">NO!!!</span></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="degree">Keeb Degree:</label>
                            <select class="form-control" id="keeb-degree" name="k_degree">
                                <option value="tbd">TBD</option>
                                <option value="4">4°</option>
                                <option value="4.5">4.5°</option>
                                <option value="5">5°%</option>
                                <option value="5.5">5.5°%</option>
                                <option value="6">6°%</option>
                                <option value="6.5">6.5°</option>
                                <option value="7">7°</option>
                                <option value="7.5">7.5°</option>
                                <option value="8">8°</option>
                                <option value="etc">ETC</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keeb Mounting type:</label>
                            <select class="form-control" id="keeb-mounting" name="k_mounting">
                                <option value="TBD">TBD</option>
                                <option value="tray">Tray mount</option>
                                <option value="top">Top mount</option>
                                <option value="bottom">Bottom mount</option>
                                <option value="sandwich">Sandwich mount</option>
                                <option value="plateless">Plateless mount</option>
                                <option value="intergrated">Integrated plate</option>
                                <option value="gasket">Gasket mount</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keeb Color:</label>
                            <button id="add-for-keeb-color">ADD</button>
                            <div id="keeb-color-container">
                            </div>
                            <div id="keeb-color-boxes">
                                <!-- POSITION -->
                                <div class="position_value">
                                    <select class="form-control input-sm" style="margin-top:0px;" id="k-color" name="k_color">
                                        <option value="red">Red</option>
                                        <option value="green">Green</option>
                                        <option value="blue">Blue</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Date start (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker" class="span2" type="text" name="date_start">
                    </div>
                    <div class="form-group">
                        <label for="email">Date end (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker1" class="span2" type="text" name="date_end">
                    </div>
                    <div class="form-group">
                        <label for="email">Date payment (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker2" class="span2" type="text" name="date_payment">
                    </div>
                    <div class="form-group">
                        <label for="email">Min price:</label>
                        <input class="form-control" name="min_price" type="tel" id="minprice">
                    </div>
                    <div class="form-group">
                        <label for="password">Max price:</label>
                        <input class="form-control" name="max_price" type="tel" id="maxprice">
                    </div>
                    <div className="input-group mb-3">
                        <div className="custom-file">
                            <input type="file" name="picture" className="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label className="custom-file-label" htmlFor="inputGroupFile01">
                            </label>
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                </form>
                <% } else if(type == 1) { %>
                 
                        <form action='/api/category/add' method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">GB status:</label>
                        <select class="form-control" name="status">
                            <option value="1">IC</option>
                            <option value="2">Live</option>
                            <option value="0">End</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="email">ID:</label>
                        <input disabled type="text" name="catid" class="form-control" id="catid" aria-describedby="catidHelp">
                    </div> -->
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" name="catname" class="form-control" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Category Type:</label>
                        <select class="form-control category-type" name="type">
                            <option value="0">Kit Keyboard</option>
                            <option value="1">Keyset</option>
                            <option value="2">Etc</option>
                        </select>
                    </div>
                    <!---------------------------- for keyset ------------------------->
                    <div class="for-keyset">
                        <div class="form-group">
                            <label for="email">Keyset Profile:</label>
                            <select class="form-control" id="keeb-profile" name="profile">
                                <option value="None">None</option>
                                <option value="SA">SA</option>
                                <option value="GMK">GMK</option>
                                <option value="JTK">JTK</option>
                                <option value="KAT">KAT</option>
                                <option value="etc">etc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keyset Color:</label>
                            <button id="add-for-keyset">ADD</button>
                            <div id="keyset-container">
                            </div>
                            <div id="keyset-boxes">
                                <div class="position_value">
                                    <select class="form-control input-sm" style="margin-top:0px;" id="color" name="code_color">
                                        <option value="red">Red</option>
                                        <option value="green">Green</option>
                                        <option value="blue">Blue</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Date start (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker" class="span2" type="text" name="date_start">
                    </div>
                    <div class="form-group">
                        <label for="email">Date end (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker1" class="span2" type="text" name="date_end">
                    </div>
                    <div class="form-group">
                        <label for="email">Date payment (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker2" class="span2" type="text" name="date_payment">
                    </div>
                    <div class="form-group">
                        <label for="email">Min price:</label>
                        <input class="form-control" name="min_price" type="tel" id="minprice">
                    </div>
                    <div class="form-group">
                        <label for="password">Max price:</label>
                        <input class="form-control" name="max_price" type="tel" id="maxprice">
                    </div>
                    <div className="input-group mb-3">
                        <div className="custom-file">
                            <input type="file" name="picture" className="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label className="custom-file-label" htmlFor="inputGroupFile01">
                            </label>
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                </form>
                <% }else { %>

                 

                <% } %>
                
            </div>
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
    <div class="footer" style="text-align: center;">
        <% include ./../../footer%>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.btn-submit').on('click', function(e) {
        e.preventDefault();
        const id = $(this).attr('data-id');
        console.log(id);
        $.ajax({
            type: 'POST',
            url: '/saveImage/',
            success: function(res) {
                alert('updating');
                window.location.href = '/list';
            },
            error: function(err) {
                console.log(err);
            },
            dataType: "json"
        })
    })
});
</script>

</html>