<div id="preloader">
        <!-- <div id="loader" class="dots-jump"> -->
        <div id="loader">
           <!--  <div></div>
            <div></div>
            <div></div> -->
            <!-- <div id="frame"> -->
                <div id="circle"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <div class="bracket left"></div>
                <div class="bracket right"></div>
                <div class="small top"><span class="upper">N</span>OOB</div>
                <div id="big">Welcome</div>
                <div class="small bottom"><span class="upper">S</span>tore</div>
                <div class="hide top"></div>
                <div class="hide bottom"></div>
            <!-- </div> -->
        </div>

    </div>