<div id="breadcrumb">
  <nav class="before-breadcrumb container " aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item fs-16">
        <a
          id="navbar-home"
          class="text-decorate-none"
          style="font-weight: 700"
          href="./"
          >Home</a
        >
      </li>
      <li class="breadcrumb-item fs-16 active" aria-current="page">
        <%= currentPage %>
      </li>
    </ol>
  </nav>
  <section class="seperator-wrapper">
    <div class="seperator gradient"></div>
  </section>
</div>