<select class="form-control select2 multiple-select" name="k_color[]" multiple="multiple">
    <option value="301M">Champagne</option>
    <option value="203M">Dark Gold</option>
    <option value="321M">Brass</option>
    <option value="300M">Nickel</option>
    <option value="361M">Turquoise</option>
    <option value="363M">Blue Green - 363M</option>
    <option value="366M">Jade - 366M</option>
    <option value="354M">Burgundy - 354M</option>
    <option value="101M">Clear - 101M</option>
    <option value="207B">Black Dye - 207B</option>
</select>
