        <select class="form-control select2"  style="margin-top:0px;" id="color" name="code_color[]" multiple="multiple">
            <option class="c-n7" value="n7">N7</option>
            <option class="c-l9" value="l9">L9</option>
            <option class="c-v1" value="v1">V1</option>
         
        </select>