        <select class="form-control select2"  style="margin-top:0px;" id="color" name="code_color[]" multiple="multiple">
            <option class="c-n7" value="red">N7</option>
            <option class="c-l9" value="green">L9</option>
            <option class="c-v1" value="blue">V1</option>
            <option class="c-n7" value="red">Red</option>
            <option class="c-n7" value="green">Green</option>
            <option class="c-n7" value="blue">Blue</option>
        </select>